.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 40px;
}

.search-wrapper {
  display: flex;
  gap: 10px;
}

.search-input {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
  width: 250px;
}

.search-btn {
  padding: 8px 14px;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.search-btn:hover {
  background: #1e40af;
}

.create-btn {
  padding: 8px 14px;
  background: #10b981;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.create-btn:hover {
  background: #059669;
}