.signup {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(120deg, #0f172a, #1e293b);
}

.signup form {
  background: white;
  padding: 45px;
  width: 380px;
  border-radius: 15px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
}

.signup h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #1e293b;
}

.signup input {
  padding: 12px;
  margin-bottom: 18px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.signup button {
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: #2563eb;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.signup button:hover {
  background: #1e40af;
}